Repository vhqtvn/revela, changes with the owners that CODEOWNERS names for each.
All owners: @davidiw, @rajkaramchedu, @alinush, @banool, @gregnazario

[cli] Add a subcommand to run transactional test runner
  Cargo.lock
  aptos-move/e2e-tests/Cargo.toml
  crates/aptos/Cargo.toml
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/move_tool/transactional_tests_runner.rs
Owners: none

Update values.yaml (#2530)
  terraform/helm/genesis/values.yaml
Owners: none

[aptos-cli] use aptos-transaction-builder instead of hand written functions
  crates/aptos/src/node/mod.rs
  crates/aptos/src/test/mod.rs
Owners: none

Remove unused NFT code. (#2491)
  ecosystem/platform/server/app/controllers/nft_nyc_controller.rb
  ecosystem/platform/server/app/controllers/nft_offers_controller.rb
  ecosystem/platform/server/app/controllers/nfts_controller.rb
  ecosystem/platform/server/app/helpers/nft_helper.rb
  ecosystem/platform/server/app/helpers/nft_offers_helper.rb
  ecosystem/platform/server/app/javascript/controllers/index.js
  ecosystem/platform/server/app/javascript/controllers/nft_controller.ts
  ecosystem/platform/server/app/models/nft.rb
  ecosystem/platform/server/app/models/nft_offer.rb
  ecosystem/platform/server/app/models/user.rb
  ecosystem/platform/server/app/views/nft_nyc/show.html.erb
  ecosystem/platform/server/app/views/nft_offers/show.html.erb
  ecosystem/platform/server/app/views/nfts/show.html.erb
  ecosystem/platform/server/config/routes.rb
Owners: none

Add CHANGELOG for v1 API (#2539)
  api/doc/v1/.version
  api/doc/v1/CHANGELOG.md
  api/doc/v1/spec.json
  api/doc/v1/spec.yaml
  api/src/poem_backend/runtime.rs
  crates/aptos/Cargo.toml
  state-sync/storage-service/types/Cargo.toml
Owners: @banool, @gregnazario

Make TS and JS examples refer to package locally, fix tests accordingly (#2534)
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/examples/README.md
  ecosystem/typescript/sdk/examples/javascript/index.js
  ecosystem/typescript/sdk/examples/javascript/package.json
  ecosystem/typescript/sdk/examples/typescript/bcs_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/constants.ts
  ecosystem/typescript/sdk/examples/typescript/index.ts
  ecosystem/typescript/sdk/examples/typescript/multisig_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/package.json
  ecosystem/typescript/sdk/examples/typescript/tsconfig.json
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/aptos_client.ts
  ecosystem/typescript/sdk/src/faucet_client.test.ts
  ecosystem/typescript/sdk/src/index.ts
  ecosystem/typescript/sdk/src/token_client.test.ts
  ecosystem/typescript/sdk/src/token_client.ts
Owners: none

[forge] Remove duplicate continuous job, increase frequency, reduce duration
  .github/workflows/pre-release-continuous-test.yaml
  .github/workflows/run-forge.yaml
Owners: none

Regenerate TS client (#2546)
  ecosystem/typescript/sdk/src/generated/AptosGeneratedClient.ts
  ecosystem/typescript/sdk/src/generated/core/OpenAPI.ts
Owners: none

[framework] split out staking config from staking module
  aptos-move/framework/aptos-framework/sources/configs/staking_config.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/stake.move
Owners: none

[framework] split up initializing validator config
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  crates/aptos/src/node/mod.rs
Owners: none

[aptos-cli] use aptos-transaction-builder instead of hand written functions
  crates/aptos/src/node/mod.rs
Owners: none

cleanup goldens
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
Owners: @banool, @gregnazario

[framework] merge StakePool and StakePoolEvents
  aptos-move/framework/aptos-framework/sources/stake.move
Owners: none

[aptos-cli] Bump version to 0.2.3
  Cargo.lock
  crates/aptos/Cargo.toml
Owners: none

Update CHANGELOG for TS SDK (#2543)
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/README.md
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/index.ts
Owners: none

Improve nav click behavior. (#2531)
  ecosystem/platform/server/app/components/header_component.html.erb
  ecosystem/platform/server/app/javascript/controllers/header_controller.ts
Owners: none

Fix gzip for assets in production. (#2533)
  ecosystem/platform/server/config/application.rb
Owners: none

Update guide-for-system-integrators.md
  developer-docs-site/docs/guides/guide-for-system-integrators.md
Owners: @davidiw, @rajkaramchedu

Update guide-for-system-integrators.md
  developer-docs-site/docs/guides/guide-for-system-integrators.md
Owners: @davidiw, @rajkaramchedu

feat: expose a method to build TransactionPayload in ABI transaction builder (#2501)
  ecosystem/typescript/sdk/src/transaction_builder/builder.ts
Owners: none

[community] Fix Nav breakpoint shift & adjust desktop spacing (#2518)
  ecosystem/platform/server/app/components/header_component.html.erb
Owners: none

[storage][pruner] Always initialize pruner (#2466)
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/db_pruner.rs
  storage/aptosdb/src/pruner/db_sub_pruner.rs
  storage/aptosdb/src/pruner/event_store/event_store_pruner.rs
  storage/aptosdb/src/pruner/event_store/test.rs
  storage/aptosdb/src/pruner/ledger_pruner_manager.rs
  storage/aptosdb/src/pruner/ledger_pruner_worker.rs
  storage/aptosdb/src/pruner/ledger_store/ledger_counter_pruner.rs
  storage/aptosdb/src/pruner/ledger_store/ledger_store_pruner.rs
  storage/aptosdb/src/pruner/mod.rs
  storage/aptosdb/src/pruner/pruner_manager.rs
  storage/aptosdb/src/pruner/state_pruner_manager.rs
  storage/aptosdb/src/pruner/state_pruner_worker.rs
  storage/aptosdb/src/pruner/state_store/mod.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/pruner/transaction_store/transaction_store_pruner.rs
  storage/aptosdb/src/pruner/transaction_store/write_set_pruner.rs
  storage/aptosdb/src/pruner/utils.rs
Owners: none

[move/rewards] Add proposer stats to onchain performance (#2507)
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/src/tests/test_context.rs
  aptos-move/aptos-transaction-benchmarks/src/transactions.rs
  aptos-move/aptos-transactional-test-harness/src/aptos_test_harness.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/read_write_set_analysis.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/stake.move
  consensus/consensus-types/src/block.rs
  consensus/src/liveness/leader_reputation.rs
  consensus/src/liveness/leader_reputation_test.rs
  execution/executor/tests/db_bootstrapper_test.rs
  execution/executor/tests/storage_integration_test.rs
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
  sf-stream/src/tests/test_context.rs
  state-sync/inter-component/mempool-notifications/src/lib.rs
  state-sync/state-sync-v1/src/executor_proxy.rs
  storage/aptosdb/src/event_store/mod.rs
  testsuite/generate-format/tests/staged/aptos.yaml
  testsuite/generate-format/tests/staged/consensus.yaml
  types/src/account_config/events/new_block.rs
  types/src/block_metadata.rs
  types/src/proof/unit_tests/proof_test.rs
  types/src/proptest_types.rs
Owners: @banool, @gregnazario

docs: update fullnode docs to work with latest devnet version
  developer-docs-site/docs/nodes/full-node/fullnode-source-code-or-docker.md
Owners: @davidiw, @rajkaramchedu

Update guide-for-system-integrators.md
  developer-docs-site/docs/guides/guide-for-system-integrators.md
Owners: @davidiw, @rajkaramchedu

Update guide-for-system-integrators.md
  developer-docs-site/docs/guides/guide-for-system-integrators.md
Owners: @davidiw, @rajkaramchedu

[storage][pruner] Fix flaky tests (#2560)
  storage/aptosdb/src/pruner/ledger_pruner_manager.rs
  storage/aptosdb/src/pruner/ledger_store/ledger_store_pruner.rs
  storage/aptosdb/src/pruner/state_pruner_manager.rs
  storage/aptosdb/src/pruner/state_store/mod.rs
Owners: none

Fix issues with nav when moving from small to large screen. (#2568)
  ecosystem/platform/server/app/components/header_component.html.erb
  ecosystem/platform/server/tailwind.config.js
Owners: none

Revising the Concepts > Accounts doc. (#1961)
  developer-docs-site/docs/concepts/basics-accounts.md
Owners: @davidiw, @rajkaramchedu

Fix broken links in docs (#2561)
  developer-docs-site/docs/cli-tools/aptos-cli-tool/use-aptos-cli.md
Owners: @davidiw, @rajkaramchedu

[smoke-test] Try to fix flaky aptos_cli smoke test (#2537)
  crates/aptos/src/test/mod.rs
Owners: none

[community] Remove underline from footer navigation links (#2558)
  ecosystem/platform/server/app/components/footer_component.html.erb
Owners: none

[Forge] Add Full node TPS test (#2553)
  testsuite/forge-cli/src/main.rs
  testsuite/run_forge.sh
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/performance_with_fullnode_test.rs
Owners: none

[txn-emitter] Sample noisy error logs (#2557)
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
Owners: none

[Build Profile] Optimising the relase build profile
  Cargo.toml
Owners: none

[devnet] Update genesis for latest devnet release
  terraform/helm/fullnode/files/genesis/devnet.blob
  terraform/helm/fullnode/values.yaml
  terraform/modules/eks/cluster.tf
Owners: none

[aptos-cli/rosetta] Fix Gas unit handling
  crates/aptos-rosetta/src/types/objects.rs
  crates/aptos/src/account/transfer.rs
  crates/aptos/src/test/mod.rs
  testsuite/smoke-test/src/aptos_cli.rs
  testsuite/smoke-test/src/rosetta.rs
Owners: none

[aptos-cli] Add gas unit price as a field in transfer
  crates/aptos/src/account/transfer.rs
  testsuite/smoke-test/src/aptos_cli.rs
  testsuite/smoke-test/src/rosetta.rs
Owners: none

[package publishing] Turn on package publishing and upgrading (#2554)
  Cargo.lock
  aptos-move/aptos-gas/Cargo.toml
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_loader_cache_consistency.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/pack_compat_first_not_second/Move.toml
  aptos-move/e2e-move-tests/tests/code_publishing.data/pack_compat_first_not_second/sources/test.move
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/framework/src/natives/code.rs
  aptos-move/move-deps/Cargo.toml
  testsuite/smoke-test/src/aptos/mod.rs
  testsuite/smoke-test/src/aptos/move_test_helpers.rs
  testsuite/smoke-test/src/aptos/package_publish.rs
  testsuite/smoke-test/src/aptos/package_publish_modules_v1/Move.toml
  testsuite/smoke-test/src/aptos/package_publish_modules_v1/sources/hello.move
  testsuite/smoke-test/src/aptos/package_publish_modules_v2/Move.toml
  testsuite/smoke-test/src/aptos/package_publish_modules_v2/sources/hello.move
  testsuite/smoke-test/src/aptos/package_publish_modules_v3/Move.toml
  testsuite/smoke-test/src/aptos/package_publish_modules_v3/sources/hello.move
  testsuite/smoke-test/tests/forge-aptos.rs
Owners: none

[forge] fix exit code on job preemption and print more output
  testsuite/run_forge.sh
Owners: none

CODEOWNERS:

# Owners for the `/developer-docs-site` directory and all its subdirectories.
/developer-docs-site/ @davidiw @rajkaramchedu
# Owners for the `/crates/aptos-crypto` directory and all its subdirectories.
/crates/aptos-crypto/ @alinush
# Owners for the `/crates/aptos-crypto-derive` directory and all its subdirectories.
/crates/aptos-crypto-derive/ @alinush
# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario
