Repository vhqtvn/revela, changes with the owners that CODEOWNERS names for each.
All owners: @davidiw, @rajkaramchedu, @alinush, @banool, @gregnazario

CODEOWNERS:

# Owners for the `/developer-docs-site` directory and all its subdirectories.
/developer-docs-site/ @davidiw @rajkaramchedu
# Owners for the `/crates/aptos-crypto` directory and all its subdirectories.
/crates/aptos-crypto/ @alinush
# Owners for the `/crates/aptos-crypto-derive` directory and all its subdirectories.
/crates/aptos-crypto-derive/ @alinush
# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario

[storage] pipeline state merkle batch commit (#2324)
  storage/aptosdb/src/state_merkle_db.rs
  storage/aptosdb/src/state_store/buffered_state.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_merkle_batch_committer.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
Owners: none

[smoke-tests] Fix vfn failover test to send transactions across public network to vfn instead of validator (#2248)
  testsuite/forge/src/interface/node.rs
  testsuite/smoke-test/src/full_nodes.rs
Owners: none

Make SimpleMap dropable
  aptos-move/framework/aptos-stdlib/sources/simple_map.move
Owners: none

[forge] label all resources (#2276)
  terraform/helm/aptos-node/templates/_helpers.tpl
  terraform/helm/aptos-node/values.yaml
  terraform/helm/genesis/templates/_helpers.tpl
  terraform/helm/genesis/values.yaml
  testsuite/forge-test-runner-template.yaml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-values.yaml
  testsuite/forge/src/backend/k8s/helm-values/genesis-values.yaml
  testsuite/run_forge.sh
Owners: none

[storage] JellyfishMerkleRestore accepts overlapping chunks (#2332)
  Cargo.lock
  storage/jellyfish-merkle/Cargo.toml
  storage/jellyfish-merkle/src/restore/mod.rs
  storage/jellyfish-merkle/src/restore/restore_test.rs
Owners: none

[framework] Adds tests that generated Rust SDKs are up-to-date (#2354)
  Cargo.lock
  aptos-move/framework/cached-packages/Cargo.toml
  aptos-move/framework/cached-packages/src/lib.rs
  aptos-move/move-deps/Cargo.toml
  aptos-move/move-deps/src/lib.rs
Owners: none

[gha] run multiple forge tests on nightly
  .github/workflows/build-images.yaml
  .github/workflows/pre-release-continuous-test.yaml
  .github/workflows/run-forge.yaml
  testsuite/run_forge.sh
Owners: none

[helm] template label helper as range (#2370)
  terraform/helm/aptos-node/templates/_helpers.tpl
  terraform/helm/genesis/templates/_helpers.tpl
Owners: none

Fix epoch_internal typo (#2362)
  api/goldens/v0/aptos_api__tests__accounts_test__test_account_modules.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_account_modules_structs.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_account_resources_response.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_module_aptos_config.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_module_with_script_functions.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_output_genesis_transaction.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/src/context.rs
  aptos-move/framework/aptos-framework/sources/block.move
Owners: @banool, @gregnazario

Fix rust example path
  developer-docs-site/docs/tutorials/first-coin.md
  developer-docs-site/docs/tutorials/first-move-module.md
  developer-docs-site/docs/tutorials/first-transaction.md
Owners: @davidiw, @rajkaramchedu

Revert "[gha] run multiple forge tests on nightly" (#2378)
  .github/workflows/build-images.yaml
  .github/workflows/pre-release-continuous-test.yaml
  .github/workflows/run-forge.yaml
  testsuite/run_forge.sh
Owners: none

[CP] Add account address to IT profiles (#2367)
  ecosystem/platform/server/app/models/it1_profile.rb
  ecosystem/platform/server/app/models/it2_profile.rb
  ecosystem/platform/server/db/migrate/20220729235238_add_account_address_to_itprofiles.rb
  ecosystem/platform/server/db/migrate/20220730180322_populate_account_address_on_itprofiles.rb
  ecosystem/platform/server/db/schema.rb
Owners: none

update rust && fix lint (#2306)
  config/management/operational/src/test_helper.rs
  consensus/consensus-types/src/common.rs
  consensus/src/commit_notifier.rs
  consensus/src/epoch_manager.rs
  consensus/src/lib.rs
  consensus/src/metrics_safety_rules.rs
  consensus/src/network.rs
  consensus/src/payload_manager.rs
  consensus/src/quorum_store/direct_mempool_quorum_store.rs
  consensus/src/round_manager.rs
  consensus/src/state_computer.rs
  consensus/src/txn_notifier.rs
  crates/aptos-metrics-core/src/lib.rs
  crates/aptos-rosetta/src/types/objects.rs
  crates/aptos/src/node/mod.rs
  ecosystem/indexer/src/database.rs
  ecosystem/indexer/src/models/collection.rs
  ecosystem/indexer/src/models/events.rs
  ecosystem/indexer/src/models/metadata.rs
  ecosystem/indexer/src/models/ownership.rs
  ecosystem/indexer/src/models/processor_statuses.rs
  ecosystem/indexer/src/models/token.rs
  ecosystem/indexer/src/models/transactions.rs
  ecosystem/indexer/src/models/write_set_changes.rs
  ecosystem/node-checker/src/configuration/common.rs
  ecosystem/node-checker/src/evaluators/metrics/state_sync/version.rs
  mempool/src/logging.rs
  mempool/src/shared_mempool/types.rs
  mempool/src/tests/test_framework.rs
  network/netcore/src/transport/proxy_protocol.rs
  network/src/fuzzing.rs
  network/src/noise/fuzzing.rs
  rust-toolchain
  storage/backup/backup-cli/src/backup_types/transaction/restore.rs
Owners: none

[framework] tidy up genesis
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Owners: none

remove errantly added files
  aptos-move/e2e-testsuite/proptest-regressions/tests/account_universe/bad_transaction.txt
  aptos-move/e2e-testsuite/proptest-regressions/tests/account_universe/mod.txt
  aptos-move/e2e-testsuite/proptest-regressions/tests/account_universe/peer_to_peer.txt
  aptos-move/e2e-testsuite/proptest-regressions/tests/account_universe/rotate_key.txt
Owners: none

[api] cleanup unused goldens
  api/goldens/aptos_api__tests__transactions_test__test_get_transaction_by_hash.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_account_modules.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_account_modules_structs.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_account_resources_response.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_account_state_blob_response.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_module_aptos_config.json
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_module_with_script_functions.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_output_genesis_transaction.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_create_signing_message_rejects_payload_too_large_json_body.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_submit_transaction_rejects_payload_too_large_bcs_txn_body.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_submit_transaction_rejects_payload_too_large_json_body.json
Owners: @banool, @gregnazario

[framework] remove compiled data
  aptos-move/framework/aptos-stdlib/aptos-framework/releases/artifacts/current/error_description/error_description.errmap
  aptos-move/framework/move-stdlib/docs/acl.md
  aptos-move/framework/move-stdlib/docs/ascii.md
  aptos-move/framework/move-stdlib/docs/bcs.md
  aptos-move/framework/move-stdlib/docs/bit_vector.md
  aptos-move/framework/move-stdlib/docs/capability.md
  aptos-move/framework/move-stdlib/docs/compare.md
  aptos-move/framework/move-stdlib/docs/debug.md
  aptos-move/framework/move-stdlib/docs/error.md
  aptos-move/framework/move-stdlib/docs/errors.md
  aptos-move/framework/move-stdlib/docs/event.md
  aptos-move/framework/move-stdlib/docs/fixed_point32.md
  aptos-move/framework/move-stdlib/docs/guid.md
  aptos-move/framework/move-stdlib/docs/hash.md
  aptos-move/framework/move-stdlib/docs/offer.md
  aptos-move/framework/move-stdlib/docs/option.md
  aptos-move/framework/move-stdlib/docs/overview.md
  aptos-move/framework/move-stdlib/docs/role.md
  aptos-move/framework/move-stdlib/docs/signer.md
  aptos-move/framework/move-stdlib/docs/string.md
  aptos-move/framework/move-stdlib/docs/vault.md
  aptos-move/framework/move-stdlib/docs/vector.md
  aptos-move/framework/move-stdlib/error_description.errmap
Owners: none

[cli][smoke-test] Make genesis and stake configurable in swarm and test e2e validator runbook (#2273)
  api/src/tests/test_context.rs
  aptos-node/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/test_utils.rs
  crates/aptos/src/node/mod.rs
  crates/aptos/src/test/mod.rs
  testsuite/forge/src/backend/local/mod.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/smoke-test/src/aptos_cli.rs
  testsuite/smoke-test/src/network.rs
  testsuite/smoke-test/src/rosetta.rs
  testsuite/smoke-test/src/smoke_test_environment.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/smoke-test/src/state_sync_v2.rs
Owners: @banool, @gregnazario

Update first_nft.ts
  developer-docs-site/static/examples/typescript/first_nft.ts
Owners: @davidiw, @rajkaramchedu

fix the function name in your-first-nft example
  developer-docs-site/static/examples/typescript/first_nft.ts
Owners: @davidiw, @rajkaramchedu

[storage] change async commit queue length (#2357)
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_snapshot_committer.rs
Owners: none

[framework] remove validator_set_script
  aptos-move/framework/aptos-framework/sources/configs/validator_set_script.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  config/management/operational/src/governance.rs
  config/management/operational/src/owner.rs
  config/management/src/validator_config.rs
  state-sync/state-sync-v1/src/executor_proxy.rs
Owners: none

[vm-config] Remove script allowlist
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/src/tests/verify_txn.rs
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/configs/transaction_publishing_option.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/vm-genesis/src/lib.rs
  types/src/on_chain_config/vm_publishing_option.rs
Owners: @banool, @gregnazario

[framework] remove a legacy DPN configuration bit
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  types/src/account_config/resources/chain_account_info.rs
Owners: none

[types] remove registered_currencies
  types/src/on_chain_config/mod.rs
  types/src/on_chain_config/registered_currencies.rs
Owners: none

[framework] remove transaction_publishing_option as it was deprecated
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__verify_txn__test_publish_from_aptos_root.exp
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/e2e-testsuite/src/tests/module_publishing.rs
  aptos-move/e2e-testsuite/src/tests/package_publishing.rs
  aptos-move/e2e-testsuite/src/tests/scripts.rs
  aptos-move/e2e-testsuite/src/tests/verify_txn.rs
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/configs/transaction_publishing_option.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/reconfiguration.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/vm-genesis/src/lib.rs
  config/src/config/test_config.rs
  types/src/on_chain_config/mod.rs
  types/src/on_chain_config/vm_publishing_option.rs
Owners: @banool, @gregnazario

[aptos-sdk] fix go lang gen
  aptos-move/aptos-sdk-builder/src/golang.rs
Owners: none

Update your-first-nft.md
  developer-docs-site/docs/tutorials/your-first-nft.md
Owners: @davidiw, @rajkaramchedu

[ssv2][easy] remove unnecessary select
  state-sync/state-sync-v2/state-sync-driver/src/storage_synchronizer.rs
Owners: none

[api] Add REST API to modify failpoints during execution
  api/src/context.rs
  api/src/index.rs
  api/src/lib.rs
  api/src/set_failpoints.rs
  config/src/config/api_config.rs
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-rosetta/src/main.rs
  testsuite/smoke-test/src/rosetta.rs
Owners: @banool, @gregnazario

[aptos-rosetta] Update Aptoscoin for rosetta
  crates/aptos-rosetta/aptos.ros
Owners: none

[Execution] Do not reuse proof fetcher across multiple block executions. (#2353)
  execution/executor/src/block_executor.rs
Owners: none

[docker] Fix command for validator
  docker/compose/validator-testnet/docker-compose.yaml
Owners: none

infra: consistency - put all built binaries into thes same path in the docker image and make them available in $PATH
  docker/compose/aptos-node/docker-compose-fullnode.yaml
  docker/compose/aptos-node/docker-compose.yaml
  docker/compose/public_full_node/docker-compose.yaml
  docker/compose/validator-testnet/docker-compose.yaml
  docker/rust-all.Dockerfile
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/fullnode/templates/fullnode.yaml
Owners: none

[docs] Update docs for CLI installation
  developer-docs-site/docs/cli-tools/aptos-cli-tool/install-aptos-cli.md
Owners: @davidiw, @rajkaramchedu

[deps] align on a single version of serde-reflection
  Cargo.lock
  Cargo.toml
  aptos-move/aptos-sdk-builder/Cargo.toml
  testsuite/generate-format/Cargo.toml
Owners: none

Revert "infra: consistency - put all built binaries into thes same path in docker image and make them available in $PATH" (#2401)
  docker/compose/aptos-node/docker-compose-fullnode.yaml
  docker/compose/aptos-node/docker-compose.yaml
  docker/compose/public_full_node/docker-compose.yaml
  docker/compose/validator-testnet/docker-compose.yaml
  docker/rust-all.Dockerfile
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/fullnode/templates/fullnode.yaml
Owners: none

[API] Improve metrics, documentation, linting (#2317)
  .github/workflows/api-spec-lint.yaml
  Cargo.lock
  Cargo.toml
  api/doc/v1/spec.json
  api/doc/v1/spec.yaml
  api/goldens/v1/aptos_api__tests__state_test__test_get_account_resource_by_invalid_struct_tag.json
  api/openapi-spec-generator/Cargo.toml
  api/openapi-spec-generator/src/fake_context.rs
  api/openapi-spec-generator/src/main.rs
  api/src/lib.rs
  api/src/metrics.rs
  api/src/poem_backend/accept_type.rs
  api/src/poem_backend/accounts.rs
  api/src/poem_backend/events.rs
  api/src/poem_backend/index.rs
  api/src/poem_backend/log.rs
  api/src/poem_backend/mod.rs
  api/src/poem_backend/runtime.rs
  api/src/poem_backend/state.rs
  api/src/poem_backend/transactions.rs
  api/types/src/derives.rs
  api/types/src/lib.rs
  api/types/src/transaction.rs
  api/types/src/wrappers.rs
  crates/aptos-openapi/Cargo.toml
  crates/aptos-openapi/src/helpers.rs
  crates/aptos-openapi/src/lib.rs
Owners: @banool, @gregnazario

[python-sdk] add to docs site
  developer-docs-site/docs/sdks/python-sdk.md
  developer-docs-site/sidebars.js
Owners: @davidiw, @rajkaramchedu

[python-sdk] update to latest token standard
  ecosystem/python/sdk/aptos_sdk/bcs.py
  ecosystem/python/sdk/aptos_sdk/client.py
Owners: none
