Repository vhqtvn/revela, changes with the owners that CODEOWNERS names for each.
All owners: @banool, @gregnazario, @vgao1996, @davidiw, @wrwg, @zekun000, @movekevin, @alinush, @areshand, @gelash, @bchocho, @sasha8, @rajkaramchedu, @aptos-labs/prod-eng, @jjleng, @msmouse, @lightmark, @joshlind

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths!

# Owners for the `/api` directory and all its subdirectories. And other API related crates
/api/ @banool @gregnazario

# Owners for the `/aptos-move` directory and its subdirectories:` aptos-gas`, `aptos-vm`, `framework` and `framework/aptos-stdlib/sources/cryptography`. 
/aptos-move/aptos-gas/ @vgao1996
/aptos-move/aptos-vm/ @davidiw @wrwg @zekun000
/aptos-move/framework/ @davidiw @movekevin @wrwg
/aptos-move/framework/aptos-stdlib/sources/cryptography/ @alinush

# Owner for token_standard and related tutorials
/aptos-move/framework/aptos-token @areshand
/aptos-move/framework/src/natives/cryptography/ @alinush
/aptos-move/parallel-executor/ @gelash @zekun000
/aptos-move/vm-genesis/ @davidiw @movekevin

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000

# Owners for quorum store
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash


# Owners for the `/aptos` directory and all its subdirectories. And other CLI related crates
/crates/aptos @gregnazario

# Owners for the `/crates/aptos-crypto*` directories
/crates/aptos-crypto-derive/ @alinush
/crates/aptos-crypto/ @alinush

# Owners for the `/aptos` directory and all its subdirectories. And other CLI related crates
/crates/aptos-faucet @banool @gregnazario
/crates/aptos-faucet-cli @gregnazario
/crates/aptos-genesis @gregnazario
/crates/aptos-open-api @banool @gregnazario
/crates/aptos-rest-client @banool @gregnazario

# Owners for the `/aptos-rosetta` directory and related crates.
/crates/aptos-rosetta @gregnazario
/crates/aptos-rosetta-cli @gregnazario

# Owners for the `/developer-docs-site` directory and all its subdirectories.
/developer-docs-site/ @davidiw @rajkaramchedu

# Owner for token_standard and related tutorials
/developer-docs-site/docs/tutorials @areshand

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @aptos-labs/prod-eng

# Owners for the `SDKs`
/ecosystem/python/sdk @davidiw @gregnazario @banool
/ecosystem/typescript/sdk @jjleng @gregnazario @banool

# Owners for execution and storage
/execution/ @msmouse @lightmark

# Owners for mempool
/mempool/ @bchocho

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage
/storage/ @msmouse @lightmark

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @aptos-labs/prod-eng

[forge] Fix dashboard link, add list-jobs, tail commands
  .github/workflows/continuous-e2e-shadow-test.yaml
  testsuite/fixtures/forge-test-runner-template.fixture
  testsuite/fixtures/report.fixture
  testsuite/fixtures/testDashboardLink.fixture
  testsuite/fixtures/testDashboardLinkAutoRefresh.fixture
  testsuite/fixtures/testDashboardLinkTimeInterval.fixture
  testsuite/fixtures/testFormatComment.fixture
  testsuite/fixtures/testFormatPreComment.fixture
  testsuite/fixtures/testFormatReport.fixture
  testsuite/fixtures/testHumioLogLink.fixture
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/fixtures/testMainReport.fixture
  testsuite/forge.py
  testsuite/forge_test.py
Owners: none

[forge] All continuous forge use new wrapper
  .github/workflows/continuous-e2-account-creation-state-sync.yaml
  .github/workflows/continuous-e2e-compat-test.yaml
  .github/workflows/continuous-e2e-performance-test.yaml
  .github/workflows/continuous-e2e-release-test.yaml
  .github/workflows/continuous-e2e-state-sync-perf-test.yaml
Owners: none

[Aptos Framework][Staking] Allow pending active validator to leave validator set directly without waiting for epoch change (#3604)
  aptos-move/framework/aptos-framework/sources/stake.move
Owners: @davidiw, @movekevin, @wrwg

[CP] Create hidden dummy address to allow for Ctrl+F full string (#3666)
  ecosystem/platform/server/app/components/icon_tooltip_component.html.erb
  ecosystem/platform/server/app/helpers/leaderboard_helper.rb
  ecosystem/platform/server/app/views/leaderboard/it1.html.erb
  ecosystem/platform/server/app/views/leaderboard/it2.html.erb
  ecosystem/platform/server/app/views/leaderboard/it3.html.erb
Owners: none

Update "more details" links.
  ecosystem/platform/server/app/views/leaderboard/it3.html.erb
Owners: none

Add link to complete performance history.
  ecosystem/platform/server/app/views/leaderboard/it3.html.erb
Owners: none

Show the IT3 leaderboard at /it3.
  ecosystem/platform/server/config/routes.rb
  ecosystem/platform/server/test/controllers/it3_profiles_controller_test.rb
  ecosystem/platform/server/test/controllers/it3s_controller_test.rb
Owners: none

Update "last updated" copy.
  ecosystem/platform/server/app/views/leaderboard/it3.html.erb
Owners: none

[Docs] Highlight VFN running steps. (#3678)
  developer-docs-site/docs/nodes/validator-node/index.md
  developer-docs-site/docs/nodes/validator-node/using-aws.md
  developer-docs-site/docs/nodes/validator-node/using-azure.md
  developer-docs-site/docs/nodes/validator-node/using-docker.md
  developer-docs-site/docs/nodes/validator-node/using-gcp.md
  developer-docs-site/docs/nodes/validator-node/using-source-code.md
Owners: @davidiw, @rajkaramchedu

[State Sync] Increase the number of nodes for the default perf test.
  testsuite/forge-cli/src/main.rs
Owners: none

[Mempool] Small consistency fix.
  mempool/src/core_mempool/ttl_cache.rs
Owners: @bchocho

Move spec files into doc/ folder for NHC, make spec paths more uniform (#3685)
  developer-docs-site/docs/nodes/node-health-checker.md
  ecosystem/node-checker/doc/spec.json
  ecosystem/node-checker/doc/spec.yaml
  ecosystem/node-checker/openapi.yaml
  ecosystem/node-checker/src/server/api.rs
  ecosystem/node-checker/src/server/run.rs
Owners: @davidiw, @rajkaramchedu

[forge] Turn on new wrapper on PRs
  .github/workflows/run-forge.yaml
Owners: none

[forge] Woopsie e2e release wrapper
  .github/workflows/continuous-e2e-release-test.yaml
Owners: none

[framework] update resource accounts for package publication
  aptos-move/e2e-move-tests/tests/code_publishing.rs
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
Owners: @davidiw, @movekevin, @wrwg

[move-tests] move-packaging should support parallel execution now
  aptos-move/e2e-move-tests/tests/code_publishing.rs
Owners: none

[framework] Improve resource account
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/resource_account.move
Owners: @davidiw, @movekevin, @wrwg

[helm][fullnode] remove testnet genesis blob (#3676)
  terraform/helm/fullnode/files/genesis/testnet.blob
  terraform/helm/fullnode/values.yaml
Owners: @aptos-labs/prod-eng

feat(ts-sdk): expose API error details
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/src/aptos_client.ts
Owners: @jjleng, @gregnazario, @banool

[sdk][typescript] fix unthrottled requests in `waitForTransactionWithResult`
  ecosystem/typescript/sdk/src/aptos_client.ts
Owners: @jjleng, @gregnazario, @banool

add ingress support to fullnode helm chart
  terraform/helm/fullnode/templates/ingress.yaml
  terraform/helm/fullnode/values.yaml
Owners: @aptos-labs/prod-eng

implement the changes requested by sherry-x
  terraform/helm/fullnode/templates/ingress.yaml
  terraform/helm/fullnode/values.yaml
Owners: @aptos-labs/prod-eng

cicd: optimize docker build caching (#3561)
  .github/workflows/build-images.yaml
  docker/docker-bake-rust-all.hcl
  docker/docker-bake-rust-all.sh
  docker/retag-rust-images.sh
  docker/rust-all.Dockerfile
Owners: @aptos-labs/prod-eng

[Execution] Ensure the child and parent blocks are related.
  execution/executor/src/block_executor.rs
  execution/executor/src/components/block_tree/mod.rs
Owners: @msmouse, @lightmark

Configure CORS for NHC (#3696)
  ecosystem/node-checker/src/server/run.rs
Owners: none

[aptos-rosetta] Make suggested fee positive
  crates/aptos-rosetta/src/construction.rs
Owners: @gregnazario

[aptos-rosetta] Fix timestamp start index to 2
  crates/aptos-rosetta/src/network.rs
Owners: @gregnazario

[aptos-rosetta] Add tests around suggested fees and network checks
  crates/aptos-rosetta/src/client.rs
  testsuite/smoke-test/src/rosetta.rs
Owners: @gregnazario

[aptos-rosetta] Ensure chain id matches node in online mode
  crates/aptos-rosetta/src/lib.rs
Owners: @gregnazario

[aptos-rosetta] Enforce chain id & blockchain name for APIs
  crates/aptos-rosetta/src/common.rs
Owners: @gregnazario

[aptos-rosetta] Add set operator to rosetta cli
  crates/aptos-rosetta-cli/src/construction.rs
  crates/aptos-rosetta/src/client.rs
Owners: @gregnazario

[Aptos Framework][Staking] Validate network and fullnode addresses on-chain (#3672)
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-stdlib/sources/network_address.move
  aptos-move/framework/aptos-stdlib/sources/network_address.spec.move
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/network_address.rs
  aptos-move/vm-genesis/src/lib.rs
Owners: @vgao1996, @davidiw, @movekevin, @wrwg

[storage] state restore: test state storage usage restore
  storage/aptosdb/src/state_store/mod.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/restore/mod.rs
  storage/jellyfish-merkle/src/restore/restore_test.rs
Owners: @msmouse, @lightmark

[storage] refactor: StateStorageUsage
  aptos-move/aptos-aggregator/src/aggregator_extension.rs
  aptos-move/aptos-aggregator/src/delta_change_set.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-vm/src/data_cache.rs
  aptos-move/aptos-vm/src/delta_state_view.rs
  aptos-move/aptos-vm/src/parallel_executor/storage_wrapper.rs
  aptos-move/e2e-tests/src/data_store.rs
  aptos-move/framework/src/natives/state_storage.rs
  aptos-move/vm-genesis/src/genesis_context.rs
  execution/executor-types/src/in_memory_state_calculator.rs
  execution/executor/src/mock_vm/mock_vm_test.rs
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/schema/version_data/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/aptosdb/src/state_store/state_merkle_batch_committer.rs
  storage/scratchpad/benches/sparse_merkle.rs
  storage/scratchpad/src/sparse_merkle/mod.rs
  storage/scratchpad/src/sparse_merkle/test_utils/proptest_helpers.rs
  storage/state-view/src/lib.rs
  storage/storage-interface/src/cached_state_view.rs
  storage/storage-interface/src/executed_trees.rs
  storage/storage-interface/src/lib.rs
  storage/storage-interface/src/state_delta.rs
  storage/storage-interface/src/state_view.rs
  types/src/state_store/mod.rs
  types/src/state_store/state_storage_usage.rs
Owners: @davidiw, @wrwg, @zekun000, @movekevin, @msmouse, @lightmark

[storage] persist state snapshot restore progress
  storage/aptosdb/src/schema/db_metadata/mod.rs
  storage/aptosdb/src/state_store/mod.rs
  storage/backup/backup-cli/src/utils/mod.rs
  storage/jellyfish-merkle/src/lib.rs
  storage/jellyfish-merkle/src/restore/mod.rs
  storage/jellyfish-merkle/src/restore/restore_test.rs
  types/src/state_store/state_storage_usage.rs
Owners: @msmouse, @lightmark

[forge] K8sNode::clear_storage deletes paths directly (#3667)
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/forge/src/interface/node.rs
  testsuite/smoke-test/src/state_sync.rs
  testsuite/testcases/src/forge_setup_test.rs
  testsuite/testcases/src/state_sync_performance.rs
Owners: none

chore(ts-sdk): bump version to 1.3.11
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
Owners: @jjleng, @gregnazario, @banool

feat(ts-sdk): accept string payload params
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/src/transaction_builder/builder_utils.test.ts
  ecosystem/typescript/sdk/src/transaction_builder/builder_utils.ts
Owners: @jjleng, @gregnazario, @banool

[forge] Fix forward namespace sanitization
  testsuite/forge.py
  testsuite/forge_test.py
Owners: none

Fix incorrect link. (#3706)
  ecosystem/platform/server/app/views/leaderboard/it3.html.erb
Owners: none
