Repository vhqtvn/revela, changes with the owners that CODEOWNERS names for each.
All owners: @banool, @gregnazario, @vgao1996, @davidiw, @wrwg, @zekun000, @movekevin, @alinush, @areshand, @gelash, @bchocho, @sasha8, @rajkaramchedu, @aptos-labs/prod-eng, @jjleng, @msmouse, @lightmark, @joshlind

CODEOWNERS:

# **Please** keep this file ordered alphabetically by directory paths!

# Owners for the `/api` directory and all its subdirectories. And other API related crates
/api/ @banool @gregnazario

# Owners for the `/aptos-move` directory and its subdirectories:` aptos-gas`, `aptos-vm`, `framework` and `framework/aptos-stdlib/sources/cryptography`. 
/aptos-move/aptos-gas/ @vgao1996
/aptos-move/aptos-vm/ @davidiw @wrwg @zekun000
/aptos-move/framework/ @davidiw @movekevin @wrwg
/aptos-move/framework/aptos-stdlib/sources/cryptography/ @alinush

# Owner for token_standard and related tutorials
/aptos-move/framework/aptos-token @areshand
/aptos-move/framework/src/natives/cryptography/ @alinush
/aptos-move/parallel-executor/ @gelash @zekun000
/aptos-move/vm-genesis/ @davidiw @movekevin

# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000

# Owners for quorum store
/consensus/src/quorum_store/ @bchocho @sasha8 @gelash


# Owners for the `/aptos` directory and all its subdirectories. And other CLI related crates
/crates/aptos @gregnazario

# Owners for the `/crates/aptos-crypto*` directories
/crates/aptos-crypto-derive/ @alinush
/crates/aptos-crypto/ @alinush

# Owners for the `/aptos` directory and all its subdirectories. And other CLI related crates
/crates/aptos-faucet @banool @gregnazario
/crates/aptos-faucet-cli @gregnazario
/crates/aptos-genesis @gregnazario
/crates/aptos-open-api @banool @gregnazario
/crates/aptos-rest-client @banool @gregnazario

# Owners for the `/aptos-rosetta` directory and related crates.
/crates/aptos-rosetta @gregnazario
/crates/aptos-rosetta-cli @gregnazario

# Owners for the `/developer-docs-site` directory and all its subdirectories.
/developer-docs-site/ @davidiw @rajkaramchedu

# Owner for token_standard and related tutorials
/developer-docs-site/docs/tutorials @areshand

# Owners for the `/docker` directory and all its subdirectories.
/docker/ @aptos-labs/prod-eng

# Owners for the `SDKs`
/ecosystem/python/sdk @davidiw @gregnazario @banool
/ecosystem/typescript/sdk @jjleng @gregnazario @banool

# Owners for execution and storage
/execution/ @msmouse @lightmark

# Owners for mempool
/mempool/ @bchocho

# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind

# Owners for execution and storage
/storage/ @msmouse @lightmark

# Owners for the `/terraform` directory and all its subdirectories.
/terraform/ @aptos-labs/prod-eng

Make it a build error if there are broken links
  developer-docs-site/docs/guides/interacting-with-the-blockchain.md
  developer-docs-site/docs/nodes/local-testnet/run-a-local-testnet.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/docusaurus.config.js
Owners: @davidiw, @rajkaramchedu

[storage] trivial: distinguish state merkle pruner and epoch snapshot pruner in min_readable_version metric
  storage/aptosdb/src/pruner/state_store/mod.rs
Owners: @msmouse, @lightmark

Fix token client functions, simple-nft in Python SDK (#3710)
  developer-docs-site/docs/tutorials/first-dapp.md
  developer-docs-site/docs/tutorials/your-first-nft.md
  ecosystem/python/sdk/Makefile
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/python/sdk/examples/common.py
  ecosystem/python/sdk/examples/simple-nft.py
  ecosystem/python/sdk/examples/transfer-coin.py
  ecosystem/python/sdk/poetry.lock
Owners: @areshand, @davidiw, @gregnazario, @banool

[indexer] Make indexer use exponential backoff
  ecosystem/indexer/src/indexer/fetcher.rs
Owners: none

[aptos-rest-client] Add ability to be more customizable on retries
  api/types/src/error.rs
  crates/aptos-rest-client/src/error.rs
  crates/aptos-rest-client/src/lib.rs
  ecosystem/indexer/src/indexer/fetcher.rs
Owners: @banool, @gregnazario

[rest-client] Add backoff functionality and error codes in HTTP errors
  Cargo.lock
  crates/aptos-rest-client/Cargo.toml
  crates/aptos-rest-client/src/error.rs
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-rosetta/src/error.rs
Owners: @banool, @gregnazario

Fix indentation (#3712)
  .github/workflows/continuous-e2e-single-vfn-test.yaml
Owners: none

[api] log 4xx status messages at info (sampled) (#3316)
  api/src/log.rs
Owners: @banool, @gregnazario

[community] Create fullnode-only registration. (#3694)
  ecosystem/platform/server/app/admin/it3_profiles.rb
  ecosystem/platform/server/app/controllers/it3_profiles_controller.rb
  ecosystem/platform/server/app/controllers/it3s_controller.rb
  ecosystem/platform/server/app/controllers/onboarding_controller.rb
  ecosystem/platform/server/app/models/it3_profile.rb
  ecosystem/platform/server/app/views/it3_profiles/_form.html.erb
  ecosystem/platform/server/app/views/layouts/_application.html.erb
  ecosystem/platform/server/app/views/static_page/incentivized_testnet.html.erb
  ecosystem/platform/server/config/routes.rb
  ecosystem/platform/server/db/migrate/20220831174120_add_fullnode_api_port_to_it3_profiles.rb
  ecosystem/platform/server/db/schema.rb
  ecosystem/platform/server/spec/factories/it3_profiles.rb
  ecosystem/platform/server/test/controllers/it3_profiles_controller_test.rb
  ecosystem/platform/server/test/controllers/it3s_controller_test.rb
Owners: none

[clippy] Remove clippy warning about deprecated name
  .cargo/config.toml
Owners: none

Fixed spelling mistake
  developer-docs-site/docs/sdks/typescript-sdk.md
Owners: @davidiw, @rajkaramchedu

[CP] Remove Network Status from main nav (#3689)
  ecosystem/platform/server/app/components/header_component.rb
Owners: none

docs: fix restful API endpoint (#3610)
  developer-docs-site/docs/concepts/basics-events.md
Owners: @davidiw, @rajkaramchedu

Example to Example command syntax
  developer-docs-site/docs/nodes/full-node/run-a-fullnode-on-gcp.md
Owners: @davidiw, @rajkaramchedu

Update the API server url with /v1
  developer-docs-site/docs/nodes/full-node/run-a-fullnode-on-gcp.md
Owners: @davidiw, @rajkaramchedu

Remove errant whitespace. (#3725)
  ecosystem/platform/server/app/views/it3_profiles/_form.html.erb
  ecosystem/platform/server/spec/factories/it3_profiles.rb
Owners: none

[aptos-cli] Add offset for transfer coin functions
  crates/aptos/src/account/create.rs
  crates/aptos/src/account/create_resource_account.rs
  crates/aptos/src/account/transfer.rs
  crates/aptos/src/common/types.rs
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/move_tool/mod.rs
  crates/aptos/src/node/mod.rs
  crates/aptos/src/stake/mod.rs
Owners: @gregnazario

[aptos-cli] Fix handling of 0 gas price on network
  crates/aptos/src/common/types.rs
  testsuite/smoke-test/src/aptos_cli/account.rs
  testsuite/smoke-test/src/aptos_cli/validator.rs
  testsuite/smoke-test/src/rosetta.rs
Owners: @gregnazario

[aptos-cli] Have Aptos CLI estimate gas parameters automatically
  crates/aptos/src/common/types.rs
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/test/mod.rs
  testsuite/smoke-test/src/aptos_cli/account.rs
  testsuite/smoke-test/src/rosetta.rs
Owners: @gregnazario

[aptos-rosetta] Fix block lookup of set operator
  crates/aptos-rosetta-cli/src/construction.rs
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/smoke-test/src/rosetta.rs
Owners: @gregnazario

[consensus] add missing monitor and update a few logging
  consensus/src/block_storage/sync_manager.rs
  consensus/src/epoch_manager.rs
  consensus/src/experimental/buffer_manager.rs
  consensus/src/network_interface.rs
Owners: @zekun000

Revert "[Aptos Framework][Staking] Validate network and fullnode addresses on-chain (#3672)" (#3735)
  aptos-move/aptos-gas/src/aptos_framework.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/aptos-stdlib/sources/network_address.move
  aptos-move/framework/aptos-stdlib/sources/network_address.spec.move
  aptos-move/framework/src/natives/mod.rs
  aptos-move/framework/src/natives/network_address.rs
  aptos-move/vm-genesis/src/lib.rs
Owners: @vgao1996, @davidiw, @movekevin, @wrwg

Update values.yaml (#3722)
  terraform/helm/fullnode/values.yaml
Owners: @aptos-labs/prod-eng

[python-sdk] support package publishing
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/python/sdk/aptos_sdk/transactions.py
Owners: @davidiw, @gregnazario, @banool

[aptos-rosetta] Add failed & vm status to transactions
  crates/aptos-rosetta/src/types/objects.rs
  testsuite/smoke-test/src/rosetta.rs
Owners: @gregnazario

[aptos-cli] Bump version to 0.3.3
  Cargo.lock
  crates/aptos/Cargo.toml
Owners: @gregnazario

[docker] support for different compile profiles and features (#3538)
  .github/workflows/docker-build-test.yaml
  .github/workflows/docker-rust-build.yaml
  .github/workflows/run-forge.yaml
  docker/README.md
  docker/build-rust-all.sh
  docker/docker-bake-rust-all.hcl
  docker/docker-bake-rust-all.sh
  docker/rust-all.Dockerfile
  testsuite/fixtures/testMain.fixture
  testsuite/fixtures/testMainComment.fixture
  testsuite/fixtures/testMainPreComment.fixture
  testsuite/forge.py
  testsuite/forge_test.py
Owners: @aptos-labs/prod-eng

[Config] Remove unused config variable.
  config/src/config/storage_config.rs
Owners: none

[consensus] spawn block retrieval to a dedicated task
  consensus/src/counters.rs
  consensus/src/epoch_manager.rs
  consensus/src/network.rs
  consensus/src/network_tests.rs
Owners: @zekun000

[Aptos Framework] [Account] support multi_ed25519 key rotation (#3626)
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/tests/rotate_auth_key.rs
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-stdlib/sources/cryptography/multi_ed25519.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/framework/src/natives/cryptography/multi_ed25519.rs
  crates/aptos-crypto/src/multi_ed25519.rs
Owners: @davidiw, @movekevin, @wrwg, @alinush
