Repository vhqtvn/revela, changes with the owners that CODEOWNERS names for each.
All owners: @davidiw, @rajkaramchedu, @alinush, @banool, @gregnazario

CODEOWNERS:

# Owners for the `/developer-docs-site` directory and all its subdirectories.
/developer-docs-site/ @davidiw @rajkaramchedu
# Owners for the `/crates/aptos-crypto` directory and all its subdirectories.
/crates/aptos-crypto/ @alinush
# Owners for the `/crates/aptos-crypto-derive` directory and all its subdirectories.
/crates/aptos-crypto-derive/ @alinush
# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario

[Aptos Framework] Switch Staking from remaining lockup to recurring lockup model (#2417)
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/src/tests/test_context.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-framework/sources/configs/stake.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  aptos-move/framework/aptos-framework/sources/timestamp.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  aptos-move/vm-genesis/src/lib.rs
  aptos-node/src/lib.rs
  crates/aptos-genesis/src/builder.rs
  crates/aptos-genesis/src/config.rs
  crates/aptos-genesis/src/lib.rs
  crates/aptos/src/genesis/mod.rs
  crates/aptos/src/genesis/tests.rs
  terraform/helm/genesis/templates/genesis.yaml
  testsuite/smoke-test/src/aptos_cli.rs
Owners: @banool, @gregnazario

[Docs] New system integrator guide and a new whats new in docs page.
  developer-docs-site/docs/guides/guide-for-system-integrators.md
  developer-docs-site/docs/guides/index.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/sidebars.js
Owners: @davidiw, @rajkaramchedu

[storage] txn_list_with_proof.verify() verifies write set
  types/src/proof/unit_tests/proof_test.rs
  types/src/transaction/mod.rs
Owners: none

[framework] do not expose token::transfer
  aptos-move/framework/aptos-token/sources/token.move
Owners: none

[mempool] make broadcast peer prioritization random between fullnodes (#2469)
  mempool/src/shared_mempool/network.rs
Owners: none

Token client nit
  ecosystem/typescript/sdk/src/token_client.ts
Owners: none

Allow .mv files in .dockerignore (#2486)
  .dockerignore
Owners: none

[docs] Make API page an index into multiple spec pages (#2422)
  developer-docs-site/docs/api/index.md
  developer-docs-site/sidebars.js
  developer-docs-site/static/api/devnet-api.html
  developer-docs-site/static/api/latest-api.html
Owners: @davidiw, @rajkaramchedu

Add aptos-openapi-spec-generator to CI (#2432)
  docker/build-rust-all.sh
  docker/rust-all.Dockerfile
Owners: none

[Token] update token indexer
  aptos-move/framework/aptos-token/sources/token.move
  aptos-move/framework/cached-packages/src/aptos_token_sdk_builder.rs
  ecosystem/indexer/migrations/2022-05-19-174526_tokens/up.sql
  ecosystem/indexer/migrations/2022-08-02-151225_token_data/down.sql
  ecosystem/indexer/migrations/2022-08-02-151225_token_data/up.sql
  ecosystem/indexer/migrations/2022-08-02-204644_token_propertys/down.sql
  ecosystem/indexer/migrations/2022-08-02-204644_token_propertys/up.sql
  ecosystem/indexer/src/indexer/tailer.rs
  ecosystem/indexer/src/main.rs
  ecosystem/indexer/src/models/collection.rs
  ecosystem/indexer/src/models/mod.rs
  ecosystem/indexer/src/models/token.rs
  ecosystem/indexer/src/models/token_property.rs
  ecosystem/indexer/src/schema.rs
  ecosystem/indexer/src/token_processor.rs
  testsuite/smoke-test/src/indexer.rs
  testsuite/smoke-test/src/nft_transaction.rs
Owners: none

[consensus] Make leader election be voting-power weighted (#2465)
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  consensus/src/epoch_manager.rs
  consensus/src/liveness/leader_reputation.rs
  consensus/src/liveness/leader_reputation_test.rs
  consensus/src/liveness/proposer_election.rs
  types/src/on_chain_config/consensus_config.rs
Owners: @banool, @gregnazario

[framework] support a table that doesn't track length
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transaction_by_hash.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/table.exp
  aptos-move/framework/aptos-framework/sources/bucket_table.move
  aptos-move/framework/aptos-stdlib/sources/big_vector.move
  aptos-move/framework/aptos-stdlib/sources/iterable_table.move
  aptos-move/framework/aptos-stdlib/sources/table.move
  aptos-move/framework/aptos-stdlib/sources/table.spec.move
  aptos-move/framework/aptos-stdlib/sources/table_with_length.move
  aptos-move/framework/aptos-token/sources/token_coin_swap.move
  aptos-move/framework/aptos-token/sources/token_transfers.move
Owners: @banool, @gregnazario

[Token] update the first_nft example and tutorial
  developer-docs-site/docs/tutorials/your-first-nft.md
  developer-docs-site/static/examples/python/first_nft.py
  developer-docs-site/static/examples/python/first_transaction.py
  developer-docs-site/static/examples/typescript/first_nft.ts
  developer-docs-site/static/img/token_data.png
Owners: @davidiw, @rajkaramchedu

Ignore the example Prover test (#2494)
  aptos-move/move-examples/tests/move_prover_tests.rs
Owners: none

docs/infra: simplify running a fullnode via docker and make docker-compose obsolete (#2400)
  config/src/config/mod.rs
  developer-docs-site/docs/nodes/ait/node-liveness-criteria.md
  developer-docs-site/docs/nodes/full-node/fullnode-source-code-or-docker.md
  developer-docs-site/docs/nodes/full-node/index.md
  developer-docs-site/docs/nodes/full-node/troubleshooting-fullnode.md
  developer-docs-site/docs/nodes/full-node/update-fullnode-with-new-releases.md
  developer-docs-site/docs/nodes/index.md
  developer-docs-site/sidebars.js
  docker/compose/public_full_node/docker-compose.yaml
  docker/compose/public_full_node/public_full_node.yaml
  docker/rosetta/README.md
Owners: @davidiw, @rajkaramchedu

[SDK] Add CI for releasing TS SDK (#2430)
  .github/workflows/api-spec-lint.yaml
  .github/workflows/build-images.yaml
  .github/workflows/lint-test.yaml
  .github/workflows/sdk-integration-test.yaml
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/.gitignore
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/check.sh
  ecosystem/typescript/sdk/checked_publish.sh
  ecosystem/typescript/sdk/package.json
Owners: none

Remove dialog polyfill. (#2493)
  ecosystem/platform/server/app/assets/stylesheets/application.tailwind.css
  ecosystem/platform/server/app/components/dialog_component.rb
  ecosystem/platform/server/app/javascript/controllers/dialog_controller.ts
  ecosystem/platform/server/package.json
  ecosystem/platform/server/yarn.lock
Owners: none

infra: consistency - put all built binaries into thes same path in docker image and make them available in $PATH (#2498)
  developer-docs-site/docs/nodes/full-node/fullnode-source-code-or-docker.md
  docker/compose/aptos-node/docker-compose-fullnode.yaml
  docker/compose/aptos-node/docker-compose.yaml
  docker/compose/validator-testnet/docker-compose.yaml
  docker/rust-all.Dockerfile
  terraform/helm/aptos-node/templates/fullnode.yaml
  terraform/helm/aptos-node/templates/validator.yaml
  terraform/helm/fullnode/templates/fullnode.yaml
Owners: @davidiw, @rajkaramchedu

Restore lint-test.yaml
  .github/workflows/lint-test.yaml
Owners: none

[Docs] Fixing build errors. (#2500)
  developer-docs-site/docs/tutorials/your-first-nft.md
Owners: @davidiw, @rajkaramchedu

[smoke-tests] Add a smoke test for txn broadcasting (#2249)
  crates/aptos-genesis/src/builder.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/swarm.rs
  testsuite/forge/src/interface/swarm.rs
  testsuite/smoke-test/src/full_nodes.rs
  testsuite/smoke-test/src/fullnode.rs
  testsuite/smoke-test/src/lib.rs
  testsuite/smoke-test/src/network.rs
  testsuite/smoke-test/src/state_sync_v2.rs
  testsuite/smoke-test/src/txn_broadcast.rs
Owners: none

[forge] spin up swarm with num_fullnodes
  Cargo.lock
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-values.yaml
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/mod.rs
  testsuite/forge/src/interface/factory.rs
  testsuite/forge/src/runner.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/performance_test.rs
Owners: none

[scratchpad] test_multithread_get_oldest_ancestor
  storage/scratchpad/src/sparse_merkle/sparse_merkle_test.rs
Owners: none

[scratchpad] lock the whole family while changing the family tree
  storage/scratchpad/src/sparse_merkle/mod.rs
Owners: none

[Forge] Increase run time & tune TPS threshold (#2502)
  .github/workflows/run-forge.yaml
Owners: none

Check broadcast_within_validator_network() for transactions directly submitted to validators (#1957)
  mempool/src/shared_mempool/tasks.rs
Owners: none

[Token] fix nft example
  developer-docs-site/static/examples/typescript/first_nft.ts
Owners: @davidiw, @rajkaramchedu

[Forge] Tune the nightly run and introduce per run cleanup time (#2484)
  .github/workflows/pre-release-continuous-test.yaml
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/mod.rs
  testsuite/forge/src/backend/local/mod.rs
  testsuite/forge/src/interface/factory.rs
  testsuite/forge/src/runner.rs
Owners: none

[Forge Cli] Small improvements for running a local swarm. (#2503)
  Cargo.lock
  crates/aptos-genesis/src/builder.rs
  testsuite/forge-cli/Cargo.toml
  testsuite/forge-cli/src/README.md
  testsuite/forge-cli/src/lib.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/local/node.rs
Owners: none

Fix SR text for link in footer and add html lang. (#2497)
  ecosystem/platform/server/app/components/footer_component.html.erb
  ecosystem/platform/server/app/views/layouts/_application.html.erb
Owners: none

[Consensus] Add compression to consensus messages.
  Cargo.lock
  consensus/src/network_interface.rs
  crates/aptos-compression/src/lib.rs
  crates/aptos-compression/src/metrics.rs
  crates/aptos-compression/src/tests.rs
  network/Cargo.toml
  network/src/protocols/network/mod.rs
  network/src/protocols/wire/handshake/v1/mod.rs
  state-sync/storage-service/types/src/responses.rs
  testsuite/generate-format/tests/staged/network.yaml
Owners: none

[SF-Stream][API] Create the SfStreamer package and skeleton (#2186)
  Cargo.lock
  Cargo.toml
  api/src/lib.rs
  api/types/src/event_key.rs
  api/types/src/hash.rs
  api/types/src/lib.rs
  api/types/src/move_types.rs
  api/types/src/transaction.rs
  aptos-node/Cargo.toml
  aptos-node/src/lib.rs
  config/src/config/mod.rs
  config/src/config/sf_streamer_config.rs
  sf-stream/Cargo.toml
  sf-stream/README.md
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
  sf-stream/src/convert.rs
  sf-stream/src/lib.rs
  sf-stream/src/metrics.rs
  sf-stream/src/protos/extractor.proto
  sf-stream/src/protos/extractor.rs
  sf-stream/src/protos/mod.rs
  sf-stream/src/runtime.rs
  sf-stream/src/tests/golden_output.rs
  sf-stream/src/tests/mod.rs
  sf-stream/src/tests/proto_converter_tests.rs
  sf-stream/src/tests/test_context.rs
  storage/aptosdb/src/lib.rs
Owners: @banool, @gregnazario

[telemetry] Remove Shadow-rs
  Cargo.lock
  crates/aptos-rosetta/Cargo.toml
  crates/aptos-rosetta/build.rs
  crates/aptos-rosetta/src/network.rs
  crates/aptos-telemetry/Cargo.toml
  crates/aptos-telemetry/build.rs
  crates/aptos-telemetry/src/build_information.rs
  crates/aptos/Cargo.toml
  crates/aptos/build.rs
  crates/aptos/src/lib.rs
Owners: none

cicd: add git related environment variables in later image layer to a… (#2512)
  docker/rust-all.Dockerfile
Owners: none

Fix redirect for devise + admin routes. (#2481)
  ecosystem/platform/server/config/routes.rb
Owners: none

Enable gzip for HTTP responses. (#2496)
  ecosystem/platform/server/config/application.rb
Owners: none

[helm] fix load tester (#2520)
  terraform/helm/testnet-addons/templates/loadtest.yaml
  terraform/helm/testnet-addons/values.yaml
Owners: none

Finalize TS SDK CI (#2508)
  .github/workflows/build-images.yaml
  .github/workflows/sdk-release.yaml
  ecosystem/typescript/sdk/check.sh
  ecosystem/typescript/sdk/examples/README.md
  ecosystem/typescript/sdk/examples/javascript/package.json
  ecosystem/typescript/sdk/examples/typescript/package.json
  ecosystem/typescript/sdk/examples/typescript/tsconfig.json
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/aptos_client.ts
  ecosystem/typescript/sdk/src/faucet_client.test.ts
  ecosystem/typescript/sdk/src/generated/models/RoleType.ts
  ecosystem/typescript/sdk/src/token_client.test.ts
  ecosystem/typescript/sdk/src/token_client.ts
Owners: none

docs: update fullnode run instructions and pin them to previous devnet release
  developer-docs-site/docs/nodes/full-node/fullnode-source-code-or-docker.md
Owners: @davidiw, @rajkaramchedu

Fix docker issue in SDK CI (#2527)
  .github/workflows/sdk-release.yaml
Owners: none
