Repository vhqtvn/revela, changes with the owners that CODEOWNERS names for each.
All owners: @davidiw, @rajkaramchedu, @alinush, @banool, @gregnazario, @joshlind, @zekun000, @msmouse

CODEOWNERS:

# Owners for the `/developer-docs-site` directory and all its subdirectories.
/developer-docs-site/ @davidiw @rajkaramchedu
# Owners for the `/crates/aptos-crypto` directory and all its subdirectories.
/crates/aptos-crypto/ @alinush
# Owners for the `/crates/aptos-crypto-derive` directory and all its subdirectories.
/crates/aptos-crypto-derive/ @alinush
# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario
# Owners for the `/state-sync` directory and all its subdirectories.
/state-sync/ @joshlind
# Owners for the `/consensus` directory and all its subdirectories.
/consensus/ @zekun000
# Owners for the `/storage` directory and all its subdirectories.
/storage/ @msmouse

[API] Represent move types as strings
  api/doc/v1/spec.json
  api/doc/v1/spec.yaml
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_argument_address_string.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_argument_address_type.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_argument_data_type.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_argument_u64_string.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_function_id.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_function_name.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_module_address.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_script_function_module_name.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_invalid_type_argument_data_type.json
  api/goldens/v1/aptos_api__tests__invalid_post_request_test__test_missing_script_function_arguments.json
  api/goldens/v1/aptos_api__tests__state_test__test_get_account_resource.json
  api/goldens/v1/aptos_api__tests__state_test__test_get_account_resource_by_invalid_struct_tag.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_module_payload_bytecode.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_address.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_arguments.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_module_name.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_function_name.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_invalid_script_payload_bytecode.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_missing_script_function_arguments.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_txn_execute_failed_by_script_function_validation.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_post_bcs_format_transaction.json
  api/src/poem_backend/events.rs
  api/src/poem_backend/state.rs
  api/src/tests/test_context.rs
  api/src/tests/v1/accounts_test.rs
  api/src/tests/v1/transactions_test.rs
  api/types/src/derives.rs
  api/types/src/lib.rs
  api/types/src/move_types.rs
  api/types/src/wrappers.rs
Owners: @banool, @gregnazario

[SDK] Update TS SDK to handle string representation of move types
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/examples/javascript/index.js
  ecosystem/typescript/sdk/examples/javascript/package.json
  ecosystem/typescript/sdk/examples/typescript/bcs_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/constants.ts
  ecosystem/typescript/sdk/examples/typescript/index.ts
  ecosystem/typescript/sdk/examples/typescript/multisig_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/package.json
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/aptos_client.ts
  ecosystem/typescript/sdk/src/faucet_client.test.ts
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/MoveModuleId.ts
  ecosystem/typescript/sdk/src/generated/models/MoveStructGenericTypeParam.ts
  ecosystem/typescript/sdk/src/generated/models/MoveStructTag.ts
  ecosystem/typescript/sdk/src/generated/models/MoveStructTagParam.ts
  ecosystem/typescript/sdk/src/generated/models/ScriptFunctionId.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveModuleId.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveStructGenericTypeParam.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveStructTag.ts
  ecosystem/typescript/sdk/src/generated/schemas/$MoveStructTagParam.ts
  ecosystem/typescript/sdk/src/generated/schemas/$ScriptFunctionId.ts
  ecosystem/typescript/sdk/src/generated/services/AccountsService.ts
  ecosystem/typescript/sdk/src/generated/services/EventsService.ts
  ecosystem/typescript/sdk/src/token_client.ts
  ecosystem/typescript/sdk/src/util.ts
Owners: none

Add guide for the local testnet dev flow (#2677)
  developer-docs-site/docs/guides/guide-for-system-integrators.md
  developer-docs-site/docs/guides/index.md
  developer-docs-site/docs/guides/local-testnet-dev-flow.md
  developer-docs-site/docs/nodes/aptos-deployments.md
  developer-docs-site/docs/nodes/local-testnet/using-cli-to-run-a-local-testnet.md
  developer-docs-site/sidebars.js
Owners: @davidiw, @rajkaramchedu

Update move-on-aptos.md
  developer-docs-site/docs/guides/move-guides/move-on-aptos.md
Owners: @davidiw, @rajkaramchedu

[move-tests] add better storage interface
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-tests/src/executor.rs
Owners: none
