Repository vhqtvn/revela, changes with the owners that CODEOWNERS names for each.
All owners: @davidiw, @rajkaramchedu, @alinush, @banool, @gregnazario

[forge] tune direction and delay of latency test
  testsuite/forge/src/backend/k8s/chaos/network_delay.yaml
  testsuite/testcases/src/network_latency_test.rs
Owners: none

[Aptos Framework][Governance] Update voting power to take into account pending_inactive stake (#2532)
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/stake.move
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
Owners: none

[community] Tighten Main Navigation & move "Currents" into "About" (#2559)
  ecosystem/platform/server/app/components/footer_component.html.erb
  ecosystem/platform/server/app/components/header_component.html.erb
  ecosystem/platform/server/app/components/header_component.rb
  ecosystem/platform/server/app/form_builders/aptos_form_builder.rb
Owners: none

[community] Fix default user icon SVG stroke color (#2602)
  ecosystem/platform/server/app/assets/images/icons/user.svg
Owners: none

[Token] temporary fix the number insistency
  ecosystem/indexer/migrations/2022-05-19-174534_collections/up.sql
  ecosystem/indexer/migrations/2022-08-02-151225_token_data/up.sql
  ecosystem/indexer/src/models/collection.rs
  ecosystem/indexer/src/models/token.rs
  ecosystem/indexer/src/schema.rs
Owners: none

chore: bump TS SDK version to 1.3.3
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/token_client.test.ts
  ecosystem/typescript/sdk/src/token_client.ts
Owners: none

refactor: replace JSON txn submittion interface with BCS interface for token client
  ecosystem/typescript/sdk/src/token_client.test.ts
  ecosystem/typescript/sdk/src/token_client.ts
  ecosystem/typescript/sdk/src/transaction_builder/bcs/helper.test.ts
  ecosystem/typescript/sdk/src/transaction_builder/bcs/helper.ts
Owners: none

fix: get linter warnings fixed
  ecosystem/typescript/sdk/src/aptos_client.test.ts
  ecosystem/typescript/sdk/src/token_client.test.ts
Owners: none

[Move Prover] Separated the specs from code (#2441)
  aptos-move/framework/aptos-framework/sources/account.move
  aptos-move/framework/aptos-framework/sources/account.spec.move
  aptos-move/framework/aptos-framework/sources/code.spec.move
  aptos-move/framework/aptos-framework/sources/system_addresses.move
  aptos-move/framework/aptos-framework/sources/system_addresses.spec.move
  aptos-move/framework/aptos-framework/sources/timestamp.move
  aptos-move/framework/aptos-framework/sources/timestamp.spec.move
  aptos-move/framework/aptos-framework/sources/transaction_context.move
  aptos-move/framework/aptos-framework/sources/transaction_context.spec.move
  aptos-move/framework/aptos-framework/sources/util.spec.move
  aptos-move/framework/aptos-stdlib/sources/event.move
  aptos-move/framework/tests/move_prover_tests.rs
  aptos-move/framework/tests/move_verification_test.rs
Owners: none

fix broken link (#2608)
  developer-docs-site/docs/guides/move-guides/move-on-aptos.md
Owners: @davidiw, @rajkaramchedu

[storage] remove get_startup_info()
  consensus/src/persistent_liveness_storage.rs
  consensus/src/state_computer.rs
  execution/executor-types/src/lib.rs
  execution/executor/src/block_executor.rs
  execution/executor/src/components/block_tree/mod.rs
  execution/executor/src/fuzzing.rs
  execution/executor/src/tests/mod.rs
  execution/executor/tests/db_bootstrapper_test.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/tests.rs
  storage/aptosdb/src/backup/backup_handler.rs
  storage/aptosdb/src/ledger_store/ledger_info_test.rs
  storage/aptosdb/src/ledger_store/mod.rs
  storage/aptosdb/src/lib.rs
  storage/backup/backup-cli/src/coordinators/backup.rs
  storage/storage-interface/src/lib.rs
  types/src/proof/accumulator/mod.rs
  types/src/proof/definition.rs
Owners: none

[aptos-rosetta] Add sequence number to account balance lookups
  crates/aptos-rosetta/src/account.rs
  crates/aptos-rosetta/src/types/requests.rs
  testsuite/smoke-test/src/rosetta.rs
Owners: none

[move] Rename move BlockMetadata to BlockResource for consistency (#2586)
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_output_user_transaction_with_script_function_payload.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_returns_last_page_when_start_version_is_not_specified.json
  api/src/context.rs
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/framework/aptos-framework/sources/block.move
  crates/aptos-rosetta/src/types/objects.rs
  documentation/specifications/move_adapter/README.md
  ecosystem/indexer/src/indexer/tailer.rs
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
  types/src/account_config/events/new_block.rs
Owners: @banool, @gregnazario

[Aptos Framework] [On-chain Governance] Shuffle assertion checks in aptos_governance::vote to allow earlier failures (#2578)
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
Owners: none

fix typo
  developer-docs-site/docs/guides/move-guides/move-on-aptos.md
Owners: @davidiw, @rajkaramchedu

[Aptos Framework][Staking] Add missing getters to stake module (#2617)
  aptos-move/framework/aptos-framework/sources/configs/consensus_config.move
  aptos-move/framework/aptos-framework/sources/stake.move
  aptos-move/framework/cached-packages/src/aptos_framework_sdk_builder.rs
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
Owners: none

[code publishing] Mave new flow the default (#2610)
  crates/aptos/src/move_tool/mod.rs
Owners: none

Update guide-for-system-integrators.md
  developer-docs-site/docs/guides/guide-for-system-integrators.md
Owners: @davidiw, @rajkaramchedu

[Aptos Framework][Governance] Add a generic map to store signer caps for addresses under on-chain governance's control (#2620)
  api/goldens/v0/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  api/goldens/v1/aptos_api__tests__accounts_test__test_get_account_resources_returns_empty_array_for_account_has_no_resources.json
  aptos-move/framework/aptos-framework/sources/aptos_governance.move
  aptos-move/framework/aptos-framework/sources/genesis.move
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
Owners: @banool, @gregnazario

feat: make abort code readable
  api/types/src/convert.rs
Owners: @banool, @gregnazario

[aptos-move-framework] fix empty big_vector contains
  aptos-move/framework/aptos-stdlib/sources/big_vector.move
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_block_transactions_work.json
  sf-stream/goldens/sf_v1/aptos_sf_stream__tests__proto_converter_tests__test_table_item_parsing_works.json
Owners: none

5000 - 3927 - 1000 = 73
  developer-docs-site/docs/tutorials/first-transaction.md
Owners: @davidiw, @rajkaramchedu

[python-sdk] improve utility of sdk and examples
  ecosystem/python/sdk/README.md
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/python/sdk/examples/coin.py
  ecosystem/python/sdk/examples/common.py
  ecosystem/python/sdk/examples/token.py
Owners: none

comment out golden for now
  sf-stream/src/tests/golden_output.rs
  sf-stream/src/tests/mod.rs
  sf-stream/src/tests/proto_converter_tests.rs
  sf-stream/src/tests/test_context.rs
Owners: none

[api] Change accept type handling
  api/src/poem_backend/accept_type.rs
Owners: @banool, @gregnazario

[api] expose versioned events for event specific APIs
  api/goldens/v0/aptos_api__tests__events_test__test_get_events_by_account_event_handle.json
  api/goldens/v1/aptos_api__tests__events_test__test_get_events_by_account_event_handle.json
  api/src/context.rs
  api/src/events.rs
  api/src/poem_backend/events.rs
  api/types/src/convert.rs
  api/types/src/lib.rs
  api/types/src/transaction.rs
Owners: @banool, @gregnazario

[docs] Add Aptos CLI local testnet readme / guide
  developer-docs-site/docs/cli-tools/aptos-cli-tool/index.md
  developer-docs-site/docs/cli-tools/aptos-cli-tool/using-a-local-testnet.md
Owners: @davidiw, @rajkaramchedu

Disable automatic SDK release
  .github/workflows/sdk-release.yaml
Owners: none

[SDK][TS] Downscale max gas, tests accordingly (#2635)
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/examples/javascript/index.js
  ecosystem/typescript/sdk/examples/typescript/bcs_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/index.ts
  ecosystem/typescript/sdk/examples/typescript/multisig_transaction.ts
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/aptos_client.ts
  ecosystem/typescript/sdk/src/faucet_client.test.ts
Owners: none

Regenerate the API spec and TS client with events changes (#2639)
  api/doc/v1/spec.json
  api/doc/v1/spec.yaml
  ecosystem/typescript/sdk/src/generated/index.ts
  ecosystem/typescript/sdk/src/generated/models/VersionedEvent.ts
  ecosystem/typescript/sdk/src/generated/schemas/$VersionedEvent.ts
  ecosystem/typescript/sdk/src/generated/services/EventsService.ts
Owners: @banool, @gregnazario

[Aptos Framework][vm] Aggregator V1 (#2462)
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/delta_ext/delta_change_set.rs
  aptos-move/aptos-vm/src/delta_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/aggregator_extension.rs
  aptos-move/aptos-vm/src/move_vm_ext/mod.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  aptos-move/aptos-vm/src/move_vm_ext/vm.rs
  aptos-move/aptos-vm/src/natives.rs
  aptos-move/framework/Cargo.toml
  aptos-move/framework/aptos-experimental/Move.toml
  aptos-move/framework/aptos-experimental/sources/aggregator.move
  aptos-move/framework/aptos-experimental/sources/aggregator_factory.move
  aptos-move/framework/aptos-experimental/tests/aggregator_tests.move
  aptos-move/framework/tests/move_unit_test.rs
Owners: none

[Token] Not use struct TokenId in entry function
  aptos-move/framework/aptos-token/sources/token_coin_swap.move
Owners: none

Update first-dapp.md
  developer-docs-site/docs/tutorials/first-dapp.md
Owners: @davidiw, @rajkaramchedu

[sdk] bring back error codes in particular for the web interface
  sdk/transaction-builder/src/error_explain.rs
Owners: none

[SDK][TS] Re-expose BCS and builder items from root of module (#2653)
  ecosystem/typescript/sdk/CHANGELOG.md
  ecosystem/typescript/sdk/examples/typescript/bcs_transaction.ts
  ecosystem/typescript/sdk/examples/typescript/multisig_transaction.ts
  ecosystem/typescript/sdk/package.json
  ecosystem/typescript/sdk/src/index.ts
Owners: none

[community] Redirect www to non-www to avoid https conflicts (#2556)
  ecosystem/platform/server/config/routes.rb
Owners: none

[mempool] add counter for duplicate idempotent txns (#2656)
  mempool/src/core_mempool/transaction_store.rs
  mempool/src/counters.rs
Owners: none

[storage][pruner] Add explicit config to enable/disable pruners (#2598)
  config/src/config/storage_config.rs
  execution/executor-benchmark/src/main.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/tests.rs
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/event_store/test.rs
  storage/aptosdb/src/pruner/ledger_pruner_manager.rs
  storage/aptosdb/src/pruner/pruner_manager.rs
  storage/aptosdb/src/pruner/state_pruner_manager.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/pruner/transaction_store/test.rs
  storage/storage-interface/src/lib.rs
  terraform/helm/aptos-node/files/configs/fullnode.yaml
  terraform/helm/aptos-node/files/configs/validator.yaml
  terraform/helm/aptos-node/values.yaml
Owners: none

[Docs] New Move transactional testing guide. (#2604)
  developer-docs-site/docs/guides/index.md
  developer-docs-site/docs/guides/move-guides/guide-move-transactional-testing.md
  developer-docs-site/docs/guides/move-guides/index.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
Owners: @davidiw, @rajkaramchedu

[storage] AptosDB::get_events() accepts ledger_version
  api/src/context.rs
  aptos-move/aptos-validator-interface/src/lib.rs
  aptos-move/aptos-validator-interface/src/storage_interface.rs
  aptos-move/transaction-replay/src/lib.rs
  aptos-move/transaction-replay/src/unit_tests/mod.rs
  consensus/src/liveness/leader_reputation.rs
  consensus/src/liveness/leader_reputation_test.rs
  execution/executor-test-helpers/src/integration_test_impl.rs
  state-sync/state-sync-v2/state-sync-driver/src/tests/mocks.rs
  state-sync/storage-service/server/src/tests.rs
  storage/aptosdb/src/lib.rs
  storage/storage-interface/src/lib.rs
Owners: @banool, @gregnazario

CODEOWNERS:

# Owners for the `/developer-docs-site` directory and all its subdirectories.
/developer-docs-site/ @davidiw @rajkaramchedu
# Owners for the `/crates/aptos-crypto` directory and all its subdirectories.
/crates/aptos-crypto/ @alinush
# Owners for the `/crates/aptos-crypto-derive` directory and all its subdirectories.
/crates/aptos-crypto-derive/ @alinush
# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario
