Repository vhqtvn/revela, changes with the owners that CODEOWNERS names for each.
All owners: @davidiw, @rajkaramchedu, @alinush, @banool, @gregnazario

CODEOWNERS:

# Owners for the `/developer-docs-site` directory and all its subdirectories.
/developer-docs-site/ @davidiw @rajkaramchedu
# Owners for the `/crates/aptos-crypto` directory and all its subdirectories.
/crates/aptos-crypto/ @alinush
# Owners for the `/crates/aptos-crypto-derive` directory and all its subdirectories.
/crates/aptos-crypto-derive/ @alinush
# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario

[Aptos Framework] Add more e2e tests for Staking (#2592)
  aptos-move/e2e-move-tests/src/harness.rs
  aptos-move/e2e-move-tests/src/lib.rs
  aptos-move/e2e-move-tests/src/stake.rs
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_basic.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_immutable.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_fail_overlapping_module.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_loader_cache_consistency.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_compat.exp
  aptos-move/e2e-move-tests/tests/code_publishing.data/code_publishing_upgrade_success_no_compat.exp
  aptos-move/e2e-move-tests/tests/init_module.data/init_module.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_basic_staking.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_end_to_end.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards.exp
  aptos-move/e2e-move-tests/tests/stake.data/test_staking_rewards_pending_inactive.exp
  aptos-move/e2e-move-tests/tests/stake.rs
  aptos-move/e2e-move-tests/tests/string_args.data/string_args.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__drop_txn_after_reconfiguration_version_4.exp
  aptos-move/e2e-tests/goldens/language_e2e_testsuite__tests__on_chain_configs__initial_aptos_version_version_4.exp
  aptos-move/e2e-tests/src/executor.rs
  aptos-move/vm-genesis/src/lib.rs
  types/src/lib.rs
  types/src/on_chain_config/validator_set.rs
  types/src/stake_pool.rs
  types/src/validator_info.rs
Owners: none

[forge] Add continuous chaos performance forge
  .github/workflows/pre-release-continuous-test.yaml
  .github/workflows/run-forge.yaml
Owners: none

[storage] utilize the NewBlockEvent to find out block boundaries
  api/src/context.rs
  storage/aptosdb/src/event_store/mod.rs
  storage/aptosdb/src/event_store/test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/transaction_store/mod.rs
  storage/aptosdb/src/transaction_store/test.rs
  storage/storage-interface/src/lib.rs
  types/src/account_config/events/new_block.rs
Owners: @banool, @gregnazario

[storage] backup-cli: fix db-restore smoke test
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/coordinators/backup.rs
  storage/backup/backup-cli/src/metadata/view.rs
  testsuite/smoke-test/src/storage.rs
  testsuite/smoke-test/src/test_utils.rs
Owners: none

[storage] utilize the NewBlockEvent to find out block boundaries
  Cargo.lock
  execution/executor-test-helpers/Cargo.toml
  execution/executor-test-helpers/src/integration_test_impl.rs
  sdk/src/types.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/test_helper.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/backup.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/manifest.rs
  storage/backup/backup-cli/src/backup_types/state_snapshot/tests.rs
  storage/backup/backup-cli/src/backup_types/tests.rs
  storage/backup/backup-cli/src/coordinators/backup.rs
  storage/backup/backup-cli/src/metadata/mod.rs
  storage/backup/backup-cli/src/metadata/view.rs
  storage/backup/backup-cli/src/metrics/backup.rs
  terraform/helm/fullnode/templates/backup.yaml
  terraform/helm/fullnode/values.yaml
  testsuite/smoke-test/src/storage.rs
Owners: none

[forge] Add packet loss test and make a chaos test suite
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/chaos.rs
  testsuite/forge/src/backend/k8s/chaos/network_loss.yaml
  testsuite/forge/src/interface/chaos.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/network_loss_test.rs
Owners: none

[Docs] Reorganizing local testnet docs into nodes section. Adding links and redirects. (#2666)
  developer-docs-site/docs/cli-tools/aptos-cli-tool/index.md
  developer-docs-site/docs/nodes/index.md
  developer-docs-site/docs/nodes/local-testnet/index.md
  developer-docs-site/docs/nodes/local-testnet/run-a-local-testnet.md
  developer-docs-site/docs/nodes/local-testnet/using-cli-to-run-a-local-testnet.md
  developer-docs-site/docs/whats-new-in-docs.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/sidebars.js
Owners: @davidiw, @rajkaramchedu

[docs] Integrate OpenGraph meta image, adjust page titles (#2670)
  developer-docs-site/docs/index.md
  developer-docs-site/docusaurus.config.js
  developer-docs-site/static/img/aptos_meta_opengraph_051222.jpg
Owners: @davidiw, @rajkaramchedu

Update dependencies via bundle update. (#2583)
  ecosystem/platform/server/Gemfile.lock
Owners: none

[aptos-telemetry] Aptos telemetry web service (#2460)
  Cargo.lock
  Cargo.toml
  crates/aptos-rest-client/src/lib.rs
  crates/aptos-telemetry-service/Cargo.toml
  crates/aptos-telemetry-service/src/auth.rs
  crates/aptos-telemetry-service/src/context.rs
  crates/aptos-telemetry-service/src/error.rs
  crates/aptos-telemetry-service/src/index.rs
  crates/aptos-telemetry-service/src/jwt_auth.rs
  crates/aptos-telemetry-service/src/lib.rs
  crates/aptos-telemetry-service/src/main.rs
  crates/aptos-telemetry-service/src/rest_client.rs
  crates/aptos-telemetry-service/src/tests/auth_test.rs
  crates/aptos-telemetry-service/src/tests/mod.rs
  crates/aptos-telemetry-service/src/tests/test_context.rs
  crates/aptos-telemetry-service/src/types/auth.rs
  crates/aptos-telemetry-service/src/types/mod.rs
  crates/aptos-telemetry-service/src/types/validator_set.rs
  crates/aptos-telemetry-service/src/validator_cache.rs
Owners: none

[forge] support K8SNode start,stop,clear_storage and metrics port
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/backend/k8s/cluster_helper.rs
  testsuite/forge/src/backend/k8s/helm-values/aptos-node-values.yaml
  testsuite/forge/src/backend/k8s/helm-values/genesis-values.yaml
  testsuite/forge/src/backend/k8s/node.rs
  testsuite/forge/src/backend/k8s/swarm.rs
  testsuite/forge/src/backend/local/node.rs
  testsuite/forge/src/interface/node.rs
  testsuite/run_forge.sh
  testsuite/testcases/src/forge_setup_test.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/partial_nodes_down_test.rs
  testsuite/testcases/src/state_sync_performance.rs
Owners: none
