Repository vhqtvn/revela, changes with the owners that CODEOWNERS names for each.
All owners: @davidiw, @rajkaramchedu, @alinush, @banool, @gregnazario

CODEOWNERS:

# Owners for the `/developer-docs-site` directory and all its subdirectories.
/developer-docs-site/ @davidiw @rajkaramchedu
# Owners for the `/crates/aptos-crypto` directory and all its subdirectories.
/crates/aptos-crypto/ @alinush
# Owners for the `/crates/aptos-crypto-derive` directory and all its subdirectories.
/crates/aptos-crypto-derive/ @alinush
# Owners for the `/api` directory and all its subdirectories.
/api/ @banool @gregnazario

[python-sdk] reduce the number of minted coins
  ecosystem/python/sdk/examples/coin.py
  ecosystem/python/sdk/examples/token.py
Owners: none

[python-sdk] improve error handling
  ecosystem/python/sdk/aptos_sdk/client.py
Owners: none

[sdk] update python test code to pass tests again
  ecosystem/python/sdk/aptos_sdk/transactions.py
Owners: none

[python-sdk] Make it actually work
  ecosystem/python/sdk/README.md
  ecosystem/python/sdk/aptos_sdk/__pycache__/__init__.cpython-39.pyc
  ecosystem/python/sdk/aptos_sdk/__pycache__/account.cpython-39.pyc
  ecosystem/python/sdk/aptos_sdk/__pycache__/account_address.cpython-39.pyc
  ecosystem/python/sdk/aptos_sdk/__pycache__/authenticator.cpython-39.pyc
  ecosystem/python/sdk/aptos_sdk/__pycache__/bcs.cpython-39.pyc
  ecosystem/python/sdk/aptos_sdk/__pycache__/client.cpython-39.pyc
  ecosystem/python/sdk/aptos_sdk/__pycache__/ed25519.cpython-39.pyc
  ecosystem/python/sdk/aptos_sdk/__pycache__/transactions.cpython-39.pyc
  ecosystem/python/sdk/aptos_sdk/__pycache__/type_tag.cpython-39.pyc
  ecosystem/python/sdk/aptos_sdk/account.py
  ecosystem/python/sdk/aptos_sdk/account_address.py
  ecosystem/python/sdk/aptos_sdk/authenticator.py
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/python/sdk/aptos_sdk/ed25519.py
  ecosystem/python/sdk/aptos_sdk/transactions.py
  ecosystem/python/sdk/aptos_sdk/type_tag.py
  ecosystem/python/sdk/examples/coin.py
  ecosystem/python/sdk/examples/token.py
  ecosystem/python/sdk/setup.py
Owners: none

[aptos-cli] Add governance commands
  crates/aptos/src/governance/mod.rs
  crates/aptos/src/lib.rs
Owners: none

[storage] add timers for AsyncProofFetcher (#2411)
  Cargo.lock
  storage/storage-interface/Cargo.toml
  storage/storage-interface/src/async_proof_fetcher.rs
  storage/storage-interface/src/lib.rs
  storage/storage-interface/src/metrics.rs
Owners: none

[block] ensure height equal to event counter
  aptos-move/framework/aptos-framework/sources/block.move
  aptos-move/framework/aptos-stdlib/sources/event.move
  aptos-move/framework/aptos-token/sources/token.move
Owners: none

[Logs] Reduce debug to trace logs.
  state-sync/aptos-data-client/src/aptosnet/mod.rs
  state-sync/state-sync-v2/data-streaming-service/src/data_stream.rs
  state-sync/storage-service/server/src/lib.rs
Owners: none

[gha] fix nightly forge tests and cluster selection (#2409)
  .github/workflows/build-images.yaml
  .github/workflows/pre-release-continuous-test.yaml
  .github/workflows/run-forge.yaml
  testsuite/run_forge.sh
Owners: none

[txn-emitter] Remove unused txn-emitter file (#2416)
  crates/transaction-emitter-lib/src/emit.rs
Owners: none

Truncate expiration timestamp to 10 years in future if it is longer (#2419)
  ecosystem/indexer/src/models/transactions.rs
Owners: none

docker: add tini as init process to docker images to ensure SIGTERM is propagated (#2402)
  docker/rust-all.Dockerfile
Owners: none

[API] Use snake case errors, improve error messages (#2420)
  Cargo.lock
  api/doc/v1/spec.json
  api/doc/v1/spec.yaml
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_param_limit_exceeds_limit.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_with_start_version_is_too_large.json
  api/goldens/v1/aptos_api__tests__transactions_test__test_get_transactions_with_zero_limit.json
  api/src/poem_backend/response.rs
  api/src/poem_backend/transactions.rs
  api/types/src/convert.rs
Owners: @banool, @gregnazario

[consensus] add unit test for the echo timeout
  consensus/src/round_manager_test.rs
  consensus/src/test_utils/mock_payload_manager.rs
Owners: none

[Indexer] Create ledger_info table and add test (#2334)
  crates/aptos-rest-client/src/lib.rs
  ecosystem/indexer/migrations/2022-07-28-181243_ledger_info/down.sql
  ecosystem/indexer/migrations/2022-07-28-181243_ledger_info/up.sql
  ecosystem/indexer/src/indexer/fetcher.rs
  ecosystem/indexer/src/indexer/tailer.rs
  ecosystem/indexer/src/main.rs
  ecosystem/indexer/src/models/ledger_info.rs
  ecosystem/indexer/src/models/mod.rs
  ecosystem/indexer/src/schema.rs
Owners: none

[docs] Rename MoonCoin module to be moon_coin
  aptos-move/move-examples/hello_blockchain/sources/HelloBlockchainTest.move
  aptos-move/move-examples/moon_coin/sources/MoonCoinType.move
  developer-docs-site/docs/tutorials/first-coin.md
  developer-docs-site/static/examples/python/first_coin.py
  developer-docs-site/static/examples/rust/first_coin/src/lib.rs
  developer-docs-site/static/examples/typescript/first_coin.ts
  developer-docs-site/static/examples/typescript/first_nft.ts
Owners: @davidiw, @rajkaramchedu

[docs] Make code examples consistent
  developer-docs-site/static/examples/python/first_coin.py
  developer-docs-site/static/examples/python/first_nft.py
  developer-docs-site/static/examples/python/hello_blockchain.py
  developer-docs-site/static/examples/rust/first_coin/src/main.rs
  developer-docs-site/static/examples/rust/hello_blockchain/src/main.rs
Owners: @davidiw, @rajkaramchedu

[docs] Improve the TS code examples
  aptos-move/move-examples/hello_blockchain/sources/HelloBlockchain.move
  developer-docs-site/docs/tutorials/first-transaction.md
  developer-docs-site/static/examples/python/first_transaction.py
  developer-docs-site/static/examples/python/hello_blockchain.py
  developer-docs-site/static/examples/rust/first_transaction/src/main.rs
  developer-docs-site/static/examples/rust/hello_blockchain/src/lib.rs
  developer-docs-site/static/examples/typescript/first_coin.ts
  developer-docs-site/static/examples/typescript/first_nft.ts
  developer-docs-site/static/examples/typescript/first_transaction.ts
  developer-docs-site/static/examples/typescript/hello_blockchain.ts
  developer-docs-site/static/examples/typescript/package.json
Owners: @davidiw, @rajkaramchedu

[docs] Make typescript examples the default ones
  developer-docs-site/docs/tutorials/first-coin.md
  developer-docs-site/docs/tutorials/first-move-module.md
  developer-docs-site/docs/tutorials/first-transaction.md
  developer-docs-site/docs/tutorials/your-first-nft.md
Owners: @davidiw, @rajkaramchedu

[helm] separate prometheus k8s service (#2425)
  terraform/helm/monitoring/templates/monitoring.yaml
  testsuite/forge-test-runner-template.yaml
Owners: none

feat: expose more BCS helpers (#2369)
  ecosystem/typescript/sdk/src/transaction_builder/bcs/helper.test.ts
  ecosystem/typescript/sdk/src/transaction_builder/bcs/helper.ts
Owners: none

[Mempool] Increase the maximum concurrent task for bounded executor (#2390)
  config/src/config/mempool_config.rs
Owners: none

[mempool] share state view between get_account_sequence_nummber() calls
  mempool/src/shared_mempool/tasks.rs
  vm-validator/src/unit_tests/vm_validator_test.rs
  vm-validator/src/vm_validator.rs
Owners: none

[mempool] rayon: use IO_POOL for accessing DB
  mempool/src/lib.rs
  mempool/src/shared_mempool/tasks.rs
  mempool/src/thread_pool.rs
Owners: none

[python-sdk] Fixes a crash caused by undefined variable
  ecosystem/python/sdk/aptos_sdk/client.py
Owners: none

[State Sync] Small config tweaks and metrics improvements.
  config/src/config/network_config.rs
  config/src/config/state_sync_config.rs
  state-sync/aptos-data-client/src/aptosnet/metrics.rs
  state-sync/aptos-data-client/src/aptosnet/mod.rs
Owners: none

cicd: make sure sdk integration test container stays around after exit for better debuggability
  .github/workflows/sdk-integration-test.yaml
Owners: none

Use specific Poem version (#2448)
  Cargo.lock
  api/Cargo.toml
  api/types/Cargo.toml
  config/Cargo.toml
  crates/aptos-openapi/Cargo.toml
  ecosystem/node-checker/Cargo.toml
Owners: @banool, @gregnazario

[Docker] Install GDB to all validator nodes (#2446)
  docker/rust-all.Dockerfile
Owners: none

[Token] Cleanup token contracts
  api/goldens/v0/aptos_api__tests__transactions_test__test_get_transaction_by_hash.json
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/table.exp
  aptos-move/aptos-transactional-test-harness/tests/aptos_test_harness/table.move
  aptos-move/framework/aptos-token/sources/property_map.move
  aptos-move/framework/aptos-token/sources/token.move
  aptos-move/framework/aptos-token/sources/token_coin_swap.move
  aptos-move/framework/aptos-token/sources/token_transfers.move
  developer-docs-site/static/examples/python/first_nft.py
  developer-docs-site/static/examples/typescript/first_nft.ts
  ecosystem/python/sdk/aptos_sdk/client.py
  ecosystem/typescript/sdk/src/token_client.ts
  testsuite/smoke-test/src/nft_transaction.rs
Owners: @banool, @gregnazario, @davidiw, @rajkaramchedu

[Txn-emitter] Various performance improvements and simplification to transaction emitter (#2427)
  crates/transaction-emitter-lib/src/args.rs
  crates/transaction-emitter-lib/src/cluster.rs
  crates/transaction-emitter-lib/src/emitter/account_minter.rs
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
  crates/transaction-emitter-lib/src/transaction_generator/account_generator.rs
  crates/transaction-emitter-lib/src/transaction_generator/mod.rs
  crates/transaction-emitter-lib/src/transaction_generator/nft_mint.rs
  crates/transaction-emitter-lib/src/transaction_generator/p2p_transaction_generator.rs
  crates/transaction-emitter-lib/src/wrappers.rs
  ecosystem/node-checker/src/evaluators/direct/tps.rs
  testsuite/forge-cli/src/main.rs
  testsuite/forge/src/runner.rs
  testsuite/forge/src/success_criteria.rs
  testsuite/run_forge.sh
  testsuite/testcases/src/compatibility_test.rs
  testsuite/testcases/src/fixed_tps_test.rs
  testsuite/testcases/src/gas_price_test.rs
  testsuite/testcases/src/lib.rs
  testsuite/testcases/src/network_bandwidth_test.rs
  testsuite/testcases/src/network_latency_test.rs
  testsuite/testcases/src/network_partition_test.rs
  testsuite/testcases/src/partial_nodes_down_test.rs
  testsuite/testcases/src/performance_test.rs
  testsuite/testcases/src/state_sync_performance.rs
  testsuite/testcases/tests/forge-local-performance.rs
Owners: none

[storage] update rocksdb dependency
  Cargo.lock
  execution/executor-benchmark/src/lib.rs
  storage/schemadb/Cargo.toml
Owners: none

[Txn-emitter] Fix submitted txn stats in emitter (#2457)
  Cargo.lock
  crates/transaction-emitter-lib/src/emitter/mod.rs
  crates/transaction-emitter-lib/src/emitter/submission_worker.rs
Owners: none

[State Sync] Add compression to the storage service.
  Cargo.lock
  Cargo.toml
  config/src/config/state_sync_config.rs
  state-sync/aptos-data-client/src/aptosnet/mod.rs
  state-sync/aptos-data-client/src/aptosnet/state.rs
  state-sync/aptos-data-client/src/aptosnet/tests.rs
  state-sync/storage-service/server/src/lib.rs
  state-sync/storage-service/server/src/tests.rs
  state-sync/storage-service/types/Cargo.toml
  state-sync/storage-service/types/src/lib.rs
  state-sync/storage-service/types/src/requests.rs
  state-sync/storage-service/types/src/responses.rs
  state-sync/storage-service/types/src/tests.rs
  testsuite/smoke-test/src/state_sync_v2.rs
Owners: none

[vm] Moved delta extension into a single module (#2454)
  Cargo.lock
  aptos-move/aptos-vm/Cargo.toml
  aptos-move/aptos-vm/src/adapter_common.rs
  aptos-move/aptos-vm/src/aptos_vm.rs
  aptos-move/aptos-vm/src/aptos_vm_impl.rs
  aptos-move/aptos-vm/src/delta_ext/delta_change_set.rs
  aptos-move/aptos-vm/src/delta_ext/mod.rs
  aptos-move/aptos-vm/src/delta_ext/transaction.rs
  aptos-move/aptos-vm/src/lib.rs
  aptos-move/aptos-vm/src/move_vm_ext/session.rs
  types/Cargo.toml
  types/src/lib.rs
  types/src/transaction/change_set.rs
  types/src/transaction/mod.rs
Owners: none

[storage][pruner] Separete ledger and state pruners (#2360)
  storage/aptosdb/src/aptosdb_test.rs
  storage/aptosdb/src/lib.rs
  storage/aptosdb/src/pruner/event_store/test.rs
  storage/aptosdb/src/pruner/ledger_pruner_manager.rs
  storage/aptosdb/src/pruner/mod.rs
  storage/aptosdb/src/pruner/pruner_manager.rs
  storage/aptosdb/src/pruner/state_pruner_manager.rs
  storage/aptosdb/src/pruner/state_store/test.rs
  storage/aptosdb/src/pruner/transaction_store/test.rs
Owners: none

Redirect community.aptoslabs.com -> aptoslabs.com. (#2200)
  ecosystem/platform/server/config/environments/production.rb
  ecosystem/platform/server/config/routes.rb
Owners: none

Temporarily reduce coverage requirements in TS SDK to unblock CI
  ecosystem/typescript/sdk/jest.config.js
Owners: none

[Forge] Configure nightly run to run for 4 hours (#2451)
  .github/workflows/pre-release-continuous-test.yaml
  .github/workflows/run-forge.yaml
  testsuite/forge-test-runner-template.yaml
  testsuite/run_forge.sh
Owners: none

Ensure `rust-all` Dockerfile is being run with appropriate builder (#2472)
  docker/docker-bake-rust-all.hcl
  docker/docker-bake-rust-all.sh
  docker/rust-all.Dockerfile
Owners: none
